/*

body{
    background-color: #7d9bca;
}


h1{
    color: red;
    font-size: 60px;
    text-align: center;
}
.paragraf{
    color: yellow;
    font-size: 60px;
}

.sana {
    color: green;
    font-size: 40px;
}

.Miliarder {
    width: 300px;
    height: 300px;
    
}
*/
/*
div{
    background-color: black;
}


.div{
    border: 2px solid red;

    margin-top: 20px;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    padding: 20px;
    
   padding: 15px 20px 30px 40px;
    
    padding: 10px 40px;
    
}*/
.box1{
    background-color: black;
    height: 50px;
}
.box2{
    background-color: blue;
    padding-top: 20px;
    height: 357px;
    width: 45%;
    display: inline-block;
}
.box3{
    background-color: red;
    height: 316px;
    width: 50%;
    display: inline-block
    
}
.box4{
    background-color: green;
    height: 50px;
    
}
